.App {
  text-align: center;
}
body {
  padding: 0%;
  margin: 0%;
  width: 100%;
  font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  scroll-behavior: smooth;
  background-color: aliceblue;
}

/* ~~~~~~~~~~~~~~~~~~~Navbar~~~~~~~~~~~~~~~~~~~ */
nav {
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(16, 18, 39);
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  color: black;
  text-decoration: none;
}

/* ~~~~~~~~~~~~~~~~~~~Links~~~~~~~~~~~~~~~~~~~ */
nav a {
  color: rgb(182, 182, 182);
  text-decoration: none;
  text-align: center;
  width: 20%;
  padding: 20px;
  font-size: 23px;
  font-weight: lighter;
}

nav a:hover {
  background-color: rgb(182, 182, 182);
  color: rgb(16, 18, 39);
  transition: background-color 0.3s, color 0.4s;
}


/* ~~~~~~~~~~~~~~~~~~~Language Dropdown~~~~~~~~~~~~~~~~~~~ */
.langSelect select {
  font-size: small;
  font-weight: 500;
  align-self: center;
}

.langSelect {
  height: 100%;
  margin-right: 10px;
  margin-left: auto;
  display: flex;
}


/* ~~~~~~~~~~~~~~~~~~~Login Page~~~~~~~~~~~~~~~~~~~ */
.loginPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-with-google-btn {
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 5px 16px 12px 42px;
  margin-top: 3rem;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 25px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: whitesmoke;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}
.login-with-google-btn:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}
.login-with-google-btn:active {
  background-color: #eeeeee;
}
.login-with-google-btn:focus {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
    0 0 0 3px #c8dafc;
}
.login-with-google-btn:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}

/* ~~~~~~~~~~~~~~~~~~~Create Post Page~~~~~~~~~~~~~~~~~~~ */
.createPostPage {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  background-color: aliceblue;
}

.createPostPage .cpContainer {
  width: 80%;
  height: 70%;
  margin-top: 5%;
  padding: 1.5rem;
  background-color: rgba(16, 18, 39, 0.951);
  box-shadow: rgba(0, 0, 0, 0.407) 0px 3px 8px;
  border: #4a4646;
  border-style: double;
  color: white;
  display: flex;
  flex-direction: column;

}

.cpContainer .cpTitle {
  text-align: center;
}

.cpContainer label {
  font-size: 1.5rem;
}
.cpContainer .inputGp {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.inputGp input,
.inputGp textarea {
  font-size: 1rem;
  padding: 0.5rem;
  border: #4a4646;
  border-style: groove;
  border-width: 0.15rem;
}

.inputGp textarea {
  height: 100%;
  resize: vertical;
}

.inputGp .loadingCircleCont {
  align-self: center;
} 


.cpContainer button {
  cursor: pointer;
  font-size: 1.3rem;
}
input,
textarea {
  margin-top: 5px;
}

input[type="file"] {
  border: none;
}


/* ~~~~~~~~~~~~~~~~~~~Posts Page~~~~~~~~~~~~~~~~~~~ */
.postsPage {
  width: 100%;
  min-height: calc(100vh - 80px);
  height: auto;
  display: grid;
  justify-items: center;
  grid-template-columns: [colLeft] 15% [colMiddle] auto [colRight] 15%;
  gap: 2rem;
  /* grid-template-columns: repeat(3,minmax(0,2fr)); */
  /* display: flex; */
  /* flex-direction: row; */
  align-items: center;
  padding-top: 20px;
  background-color: rgb(25, 19, 19);
}

.postsPage .colLeft {
  grid: 1;
}

.postsPage .colMiddle {
  grid: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.postsPage .colRight {
  grid: 3;
}

.colMiddle .postCont {
  width: 90%;
  height: auto;
  background-color: rgb(250, 250, 250);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
}

.colMiddle .postCont:hover {
  width: 91%;
  background-color: rgb(240, 240, 240);
  box-shadow: rgba(0, 0, 0, 0.507) 0px 4px 10px;
}

.colMiddle .postCont:active {
  transform: translateY(0.2rem);
  box-shadow: rgba(0, 0, 0, 0.507) 0px 6px 16px;
}


.postCont .postHeader {
  display: flex;
  justify-content: center;
  width: 100%;
}

.postHeader .title {
  flex: 50%;
}
.postHeader .deletePost {
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.deletePost button {
  border: none;

  background: none;
  font-size: 30px;
  cursor: pointer;
}

.postCont .postTextCont {
  word-wrap: break-word;
  height: auto;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.postTextCont p {
  /* max-height: 3.6rem; */
  overflow:hidden;
  overflow-wrap: normal;
  margin-bottom: 0.2rem;
}

.postTextCont button {
  display: none;
}

.postTextCont .readMoreText {
  font-style: italic;
  font-weight: normal;
  text-transform: uppercase;
}

.postFooter {
  display: flex;
  text-align: end;
  width: 100%;
  padding-top: 1rem;
}

.postFooter .postAttachmentsCont {
  text-align: start;
  width: 50%;
}

.postAttachmentsCont .postAttachmentsLink {
  display: inline-block;
  margin: 0.5rem;
}

.postAttachmentsLink .postAttachmentsIcon {
  width: 2.2rem;
}

.postFooter .postSignatureCont {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.postFooter h2 {
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

.postFooter h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.postFooter h4 {
  margin-top: 0;
  font-size: 0.7rem;
  font-weight: 600;
}

.postsPage .loadMoreBtn {
  margin-bottom: 1rem;
}

/* ~~~~~~~~~~~~~~~~~~~Single Post Page~~~~~~~~~~~~~~~~~~~ */

.singlePostPage {
  display: flex;
  border-width: 0.5rem;
  border-style: groove;
}


/* Media query for mobile responsiveness */
@media only screen and (max-width: 600px) {
  
  #compLogo {
    position: fixed;
    top: 0;
    left: 0;
    margin-right: 0;
    margin-left: auto;
    display: block;
  }
  
  nav {
    width: 100%;
    height: 100%;
    padding: 0;
    flex-direction: column; /* Stack items vertically on small screens */
    position: sticky;
  }

  nav a {
    flex: none; /* Reset flex to default for individual items */
    width: 100%; /* Make each link take up the full width */
    padding: 1rem;
    font-size: 20px;
  }

  .langSelect select {
    height: 2rem;
    font-size: small;
    font-weight: 500;
  }
  
  .langSelect {
    position: relative;
    top: 0;
    right: 0;
    height: 100%;
    margin-right: 0;
    margin-left: auto;
    display: block;
  }

  .postsPage {
    font-size: 0.6rem;
  }

  
.postTextCont p {
  max-height: 3.6rem;
}

  .postFooter .postAttachmentsCont {
    display: none;
  }

  /* .postFooter h2 {
    font-size: 0.9rem;
    font-weight: bold;
  } */

  .postFooter h3 {
    font-size: 0.6rem;
    font-weight: bold;
  }
  
  .postFooter h4 {
    font-size: 0.4rem;
    font-weight: 600;
  }
}